body {
    background: #1D3158;
    width: 1728px;
    height: 1117px;
}

.container{
    margin-top: 1.5vw;
    display: flex;
    justify-content: space-between;
    background-color: #1D3158;
    align-items: center;
}
.baro{
    width: 8.1vw;
    height: 1.7vw;
    margin-left : 4.9vw;
    /* margin-top: 72px; */ 
    
}
.subpages{
    width: 6.2vw;
    height: 1.5vw;

    padding: 0.03vw, 0.13vw, 0.03vw, 0.13vw;
    cursor: pointer;
    color : #FFFFFF;
    
    background-color:transparent;
    border: none;
    
    font-size: 1vw;
}

#nowpage {
    color:#346BFF;
    font-weight: 700;
}

.page{
    margin-left: -18.4vw;
}

.login{
    margin-right: 6.7vw;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.analysis {
    width: 37.5vw;
    height: 3.17vw;
    margin-top: 10.41vw;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 2.18vw;
    
    color: #8DDBE0;    
}

.picture {
    width: 31.25vw;
    height: 1.87vw;
    margin-top: 0.52vw;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.87vw;
    
    color: #FFFFFF; 
}

.rectangle {
    width: 16.9vw;
    height: 4vw;
    margin-top: 3.12vw;

    background: #346BFF;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.15);
    border-radius: 2.65vw;
}

.upload {
    width: 14vw;
    height: 1.875vw;
    margin-left: 2.08vw;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 1.87vw;
    
    color: #FFFFFF;
}

.image img {
    width: 17.97vw;
    height: 12.34vw;
    margin-top: 6.77vw;
}

/* .container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #1D3158;
    align-items: center;
}
.baro{
    width: 156px;
    height: 33px;
    margin-left : 95px;
    /* margin-top: 72px; */ 
    
/* }
.subpages{
    width: 120px;
    height: 30px;

    padding: 0.75px, 2.5px, 0.75px, 2.5px;
    cursor: pointer;
    color : #FFFFFF;
    
    background-color:transparent;
    border: none;
    
    font-size: 20px;
}

#nowpage {
    color:#346BFF;
    font-weight: 700;
}

.page{
    margin-left: -354px;
}
.login{
    margin-right: 129px;
} */