
body{
    width: 1728px;
    height: 1117px;
    background-color: #1D3158;
}

/* <!------------------ nav bar --------------------> */
header{
    width: 100vw;
    height: 8.6vw;

    /* width: 1728px;
    height: 150px; */

    display: flex;
    justify-content: space-between;    
    align-items: center;
}
.baro{
    width: 9vw;
    height: 1.9vw;
    /* width: 156px;
    height: 33px; */
    margin-left : 5.5vw;
    /* margin-left : 95px; */
    /* margin-top: 72px;  */
    
}

.subpages{
    width: 6.9vw;
    height: 1.7vw;
    /* width: 120px;
    height: 30px; */
    margin-right: 4vw;
    padding: 0.3vw, 0.1vw, 0.3vw, 0.1vw;
    cursor: pointer;
    color : #FFFFFF;
    
    background-color:transparent;
    border: none;
    
    font-size: 30px;
}

.subpages:hover{
    color: #346BFF;
}

.page{
    width: 53.5vw;
    /* width: 579px; */
    /* margin-left: -13.2vw; */
    /* margin-left: -401px; */
}
.login{
    width: 22vw;
    /* margin-right: 7.4vw; */
    /* margin-right: 129px; */
}
/* <!------------------ main --------------------> */
.main{
    display: flex;
}
.logo_bon{
    position: relative;
}
.bon{
    width: 57.9vw;
    height: 57.9vw;
    /* width: 1002px;
    height: 1002px; */
    margin-left: -13vw;
    margin-top : -16.2vw;
    /* margin-left: -191px;
    margin-top : -264px; */
    transform: rotate(-15deg);
    opacity: 0.4;
}

.content{
    margin-left : -33vw;
    /* margin-left : -570px; */
    position: relative;
}

#title{
    color: #FFFFFF;
    font-size: 50px;
}

#exercise_what{
    color: #8DDBE0;
    font-size : 50px;
    margin-top: -1.5vw;
}
.video_box{
    width: 78vw;
    height: 38vw;
    /* width: 1364px;
    height: 657px; */
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.04);
    border-radius: 35px;
    
    margin-top : 2.5vw;
    /* margin-top : 61px; */
}
.left_right{
    display: flex;
    justify-content: space-around;
}
.left{
    width: 30vw;
    height: 15.6vw;
    /* width: 530px;
    height: 270px; */
    margin-left: 5vw;
    /* margin-left: 89px; */
    /* margin-top: 73px; */
    padding-top: 4.1vw;
    /* background-color: #FFFFFF; */
}
.today_exercise{
    width: 30vw;
    height: 4.6vw;
    /* width: 530px;
    height: 80px; */
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* margin-top: 73px;
    margin-left: 89px; */
}
.day{
    font-size: 50px;
}
.today_exe{
    font-size: 45px;
}

.play_btn{
    width: 38vw;
    height: 11.5vw;
    /* width: 530px;
    height: 200px; */
    margin-left: -5vw;
    margin-top: 1vw;
    display: flex;
    justify-content: space-around;
}
.dir_img {
    width: 2.9vw;
    height: 2.9vw;
    margin-left: 0.6vw;
}

.play_video{
    width: 7.7vw;
    height: 7.7vw;
    /* width: 134px;
    height: 134px; */
    background-color: #367cFF;
    color: #FFFFFF;
    border-radius: 100%;

    font-size: 80px;
    text-align: center;
    cursor: pointer;
}
.detail{
    width : 17vw;
    height: 2.3vw;
    /* width : 300px;
    height: 40px; */
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.right{
    width: 28vw;
    height: 15.5vw;
    /* width: 500px;
    height: 268px; */
    margin-top: 4.2vw;
    /* margin-top: 73px; */
    align-items: center;
}
.right iframe{
    width: 28vw;
    height: 15.5vw;
    /* width: 500px;
    height: 268px; */
    margin-left: -2.3vw;
    /* margin-left: -40px; */
}

.bottom{
    width: 76vw;
    height: 10.4vw;
    margin-left: 5.2vw;
    margin-top: 3.5vw;
    /* width: 1318px;
    height: 180px;
    margin-left: 90px;
    margin-top: 61px; */
    display: flex;
    
}
.sub_video{
    color: #FFFFFF;
    font-size: 15px;
    margin-right: 1vw;
}
.last{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.sub_video img{
    width: 15vw;
    height: 7vw;
    /* width: 260px;
    height: 122px; */
}

.sub_video_btn{
    /* width: 57px;
    height: 180px; */
    width: 3.2vw;
    height: 10.4vw;
    background-color: #454545B5;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 45px;
}