
body{
    width: 1728px;
    height: 1117px;
    background-color: #1D3158;
}

/* <!------------------ nav bar --------------------> */
header{
    width: 100vw;
    height: 8.6vw;

    /* width: 1728px;
    height: 150px; */

    display: flex;
    justify-content: space-between;    
    align-items: center;
}
.baro{
    width: 9vw;
    height: 1.9vw;
    /* width: 156px;
    height: 33px; */
    margin-left : 5.5vw;
    /* margin-left : 95px; */
    /* margin-top: 72px;  */
    
}

.subpages{
    width: 6.9vw;
    height: 1.7vw;
    /* width: 120px;
    height: 30px; */
    margin-right: 4vw;
    padding: 0.3vw, 0.1vw, 0.3vw, 0.1vw;
    cursor: pointer;
    color : #FFFFFF;
    
    background-color:transparent;
    border: none;
    
    font-size: 30px;
}

.subpages:hover{
    color: #346BFF;
}

.page{
    width: 53.5vw;
    /* width: 579px; */
    /* margin-left: -13.2vw; */
    /* margin-left: -401px; */
}
.login{
    width: 22vw;
    /* margin-right: 7.4vw; */
    /* margin-right: 129px; */
}

/* <!------------------ main --------------------> */
main{
    display: inline-flex;
    
}
.left{
    width: 50vw;
    /* width: 864px; */
}
.right{
    width: 50vw;
    /* margin-bottom: -2.9vw; */
    margin-left: 1.9vw;
    /* width: 864px; */
    /* height: 621px; */
}

.main{
    margin-top: 8.6vw;
    /* margin-top: 150px; */
}
.main_font{
    color: #FFFFFF;
    margin-left: 17vw;
    margin-bottom: 0;
    font-size: 3vw;
    /* margin-left: 294px;
    font-size: 53px; */
}

.sub_font{
    color: #EDEDED;
    margin-left: 17vw;
    /* margin-left: 294px; */
    font-size: 25px;

}
.main_btn{
    width: 18.8vw;
    height: 4.5vw;
    /* width: 325px;
    height: 78px; */
    left: 17vw;
    top: 37.2vw;
    /* left: 294px;
    top: 643px; */
    color: #FFFFFF;
    background-color: #346BFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 51px;
    font-size: 45px;

    margin-left: 17vw;
    margin-top: 2.3vw;
    /* margin-left: 294px;
    margin-top: 40px; */
    cursor: pointer;
    
}
.yoga{
    position: relative;
    width: 55.5vw;
    height: 34.7vw;
    left: -7.6vw;
    /* left: -133px; */
}



/* <!------------------ footer --------------------> */
footer{
    width: 100vw;
    height: 8.9vw;
    /* width: 1728px;
    height: 155px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.copyright{
    width: 21vw;
    height: 8.9vw;
    /* width: 363px;
    height: 155px; */
    color: #B3B3B3;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    text-align: center;
}
.share{
    display: flex;
    justify-content: space-around;
    width: 27vw;
    height: 8.9vw;
    /* width: 469px;
    height: 155px; */
    background-color: #F5F5F5;
    align-items: center;
}
.footer{
    width: 51.8vw;
    height: 8.9vw;
    /* width: 896px;
    height: 155px; */
    color: #FFFFFF;
    background-color: #346BFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fline{
    text-align: center;
    font-size: 23px
}