.container{
    width: 1728px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #1D3158;
    align-items: center;
}
.baro{
    width: 156px;
    height: 33px;
    margin-left : 95px;
    /* margin-top: 72px; */ 
    
}
.subpages{
    width: 120px;
    height: 30px;

    padding: 0.75px, 2.5px, 0.75px, 2.5px;
    cursor: pointer;
    color : #FFFFFF;
    
    background-color:transparent;
    border: none;
    
    font-size: 20px;
}
.page{
    margin-left: -401px;
}
.login{
    margin-right: 129px;
}