body {
    background: #1D3158;
}

.container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #1D3158;
    align-items: center;
}
.baro{
    width: 156px;
    height: 33px;
    margin-left : 95px;
    /* margin-top: 72px; */ 
    
}
.subpages{
    width: 120px;
    height: 30px;

    padding: 0.75px, 2.5px, 0.75px, 2.5px;
    cursor: pointer;
    color : #FFFFFF;
    
    background-color:transparent;
    border: none;
    
    font-size: 20px;
}

#nowpage {
    color:#346BFF;
    font-weight: 700;
}

.page{
    margin-left: -354px;
}
.login{
    margin-right: 129px;
}

#title {
    position: absolute;
    width: 409px;
    height: 67px;
    left: 146px;
    top: 149px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 67px;
    /* identical to box height */
    
    
    color: #FFFFFF;
  
  }

#rectangle {
    box-sizing: border-box;

    position: absolute;
    width: 436px;
    height: 56px;
    left: 1163px;
    top: 200px;
    
    border: 1px solid #FFFFFF;
    border-radius: 28px;
}

#search {
    color: #FFFFFF;
    position: absolute;
    left: 26px;
    top: 13px;
    width: 30px;
    height: 30px;
    margin: 0px;
}
   
#subtitle {
    position: absolute;
    width: 810px;
    height: 36px;
    left: 146px;
    top: 246px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    
    color: #FFFFFF;
  }

#personal {
    position: absolute;
    width: 300px;
    height: 41px;
    left: 146px;
    top: 400px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;

    color: #FFFFFF;
}

#more {
    position: absolute;
    width: 100px;
    height: 38px;
    left: 1472px;
    top: 428px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    
    color: #FFFFFF;
    
}

#box1 {
    width: 343px;
    height: 296px;
    float: left;
    margin-top: 433px;
    margin-left: 146px;
    
    background: #367CFF;
    border-radius: 24px;
}

#box2 {
    width: 343px;
    height: 296px;
    float: left;
    margin-top: 433px;
    margin-left: 20px;
    
    background: #7A77FF;
    border-radius: 24px;
}

#box3 {
    width: 343px;
    height: 296px;
    float: left;
    margin-top: 433px;
    margin-left: 20px;
    
    background: #256096;
    border-radius: 24px;
}

#box4 {
    width: 343px;
    height: 296px;
    float: left;
    margin-top: 433px;
    margin-left: 20px;
    margin-right: 146px;
    
    background: #6E8ABD;
    border-radius: 24px;
}

.maintext {
    width: 90px;
    height: 26px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 130.02%;
    margin: 42px 229px 0px 58px;
    
    color: #FFFFFF;
    
}

.subtext1 {
    width: 200px;
    margin: 34px 102px 0px 56px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 0px;
  }

.subtext2 {
    width: 250px;
    margin: 5px 102px 0px 56px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 0px;
  }

#dot1 {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 808px;
    top: 870px;
    color: #346BFF;
}

#dot2 {
    position: absolute;
    width: 16px;
    height: 17px;
    left: 861px;
    top: 870px;
    
    color: rgba(196, 196, 196, 0.42);
}

#dot3 {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 913px;
    top: 870px;
    
    color: rgba(196, 196, 196, 0.42);
}