body {
    background: #1D3158;
}

.container{
    margin-top: 1.5vw;
    display: flex;
    justify-content: space-between;
    background-color: #1D3158;
    align-items: center;
}
.baro{
    width: 8.1vw;
    height: 1.7vw;
    margin-left : 4.9vw;
    /* margin-top: 72px; */ 
    
}
.subpages{
    width: 6.2vw;
    height: 1.5vw;

    padding: 0.03vw, 0.13vw, 0.03vw, 0.13vw;
    cursor: pointer;
    color : #FFFFFF;
    
    background-color:transparent;
    border: none;
    
    font-size: 1vw;
}

#nowpage {
    color:#346BFF;
    font-weight: 700;
}

.page{
    margin-left: -18.4vw;
}
.login{
    margin-right: 6.7vw;
}

#result_up {
    position: absolute;
    width: 15.6vw;
    height: 6.04vw;
    left: 7.6vw;
    top: 8.33vw;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.39vw;
    line-height: 2.9vw;
    
    color: #FFFFFF;
}

#result_down {
    position: absolute;
    width: 20.83vw;
    height: 6.04vw;
    left: 7.6vw;
    top: 11.25vw;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.39vw;
    line-height: 2.9vw;
    
    color: #FFFFFF;
}

#result_num {
    position: absolute;
    width: 5.41vw;
    height: 2.9vw;
    left: 23.95vw;
    top: 11.45vw;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.39vw;
    line-height: 2.9vw;
    /* identical to box height */


    color: #346BFF;
}

.keyword {
    position: absolute;
    width: 15.62vw;
    height: 1.25vw;
    left: 7.6vw;
    top: 20.31vw;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 1.25vw;
    
    color: #FFFFFF;
}

.detail{
    position: absolute;
    width: 20.83vw;
    height: 1.25vw;
    left: 14vw;
    top: 20.31vw;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.25vw;
    
    color: #FFFFFF; 
}


#highlight {
    color: #FFFBA0; 
    font-weight: 700
}

#rectangle {
    position: absolute;
    width: 16.9vw;
    height: 4vw;
    left: 7.6vw;
    top: 38.9vw;
    text-align: center;
    background-color: #346BFF;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.15);
    border-radius: 2.65vw;
}

#upload {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25vw;
    text-align: center;
    line-height: 1.25vw;
    color: #FFFFFF;
    display: inline-block;
}

img {
    width: 17.96vw;
    height: 12.34vw;
}

.man {
    position: absolute;
    width: 29vw;
    height: 26.1vw;
    left: 43.1vw;
    top: 16.35vw;
}

img {
    width: 29vw;
    height: 26.14vw;
}

/* .container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #1D3158;
    align-items: center;
}
.baro{
    width: 156px;
    height: 33px;
    margin-left : 95px;
    /* margin-top: 72px; */ 
    
/* }
.subpages{
    width: 120px;
    height: 30px;

    padding: 0.75px, 2.5px, 0.75px, 2.5px;
    cursor: pointer;
    color : #FFFFFF;
    
    background-color:transparent;
    border: none;
    
    font-size: 20px;
}

#nowpage {
    color:#346BFF;
    font-weight: 700;
}

.page{
    margin-left: -354px;
}
.login{
    margin-right: 129px;
} */ 