body {
    background: #1D3158;
}

.container{
    margin-top: 1.5vw;
    display: flex;
    justify-content: space-between;
    background-color: #1D3158;
    align-items: center;
}
.baro{
    width: 8.1vw;
    height: 1.7vw;
    margin-left : 4.9vw;
    /* margin-top: 72px; */ 
    
}
.subpages{
    width: 6.2vw;
    height: 1.5vw;

    padding: 0.03vw, 0.13vw, 0.03vw, 0.13vw;
    cursor: pointer;
    color : #FFFFFF;
    
    background-color:transparent;
    border: none;
    
    font-size: 1vw;
}

#nowpage {
    color:#346BFF;
    font-weight: 700;
}

.page{
    margin-left: -18.4vw;
}
.login{
    margin-right: 6.7vw;
}

#title {
    position: absolute;
    width: 21.3vw;
    height: 3.4vw;
    left: 7.6vw;
    top: 7.7vw;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 2.39vw;
    line-height: 3.4vw;
    /* identical to box height */
    
    
    color: #FFFFFF;
  
  }

#rectangle {
    box-sizing: border-box;

    position: absolute;
    width: 22.7vw;
    height: 2.9vw;
    left: 60.5vw;
    top: 10.4vw;
    
    border: 0.05vw solid #FFFFFF;
    border-radius: 1.45vw;
}

#search {
    color: #FFFFFF;
    position: absolute;
    left: 1.35vw;
    top: 0.67vw;
    width: 1.56vw;
    height:1.56vw;
    margin: 0vw;
}
   
#subtitle {
    position: absolute;
    width: 42.1vw;
    height: 1.8vw;
    left: 7.6vw;
    top: 12.8vw;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.87vw;
    
    color: #FFFFFF;
  }

#personal {
    position: absolute;
    width: 15.6vw;
    height: 2.13vw;
    left: 7.6vw;
    top: 20.83vw;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 1.45vw;
    line-height: 2.13vw;

    color: #FFFFFF;
}

#more {
    position: absolute;
    width: 5.2vw;
    height: 1.97vw;
    left: 76.6vw;
    top: 22.29vw;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.35vw;
    line-height: 1.97vw;
    
    color: #FFFFFF;
    
}

#box1 {
    width: 17.86vw;
    height: 15.4vw;
    float: left;
    margin-top: 22.55vw;
    margin-left: 7.6vw;
    
    background: #367CFF;
    border-radius: 1.25vw;
    position: relative;
}

.img1 {
    width: 11vw;
    height: 7.4vw;
    opacity: 0.3;
    margin-left: 6.8vw;
    margin-top: 7.7vw;
    position: absolute;
    border-radius: 1.25vw;
}

#box2 {
    width: 17.86vw;
    height: 15.4vw;
    float: left;
    margin-top: 22.55vw;
    margin-left: 1vw;
    
    background: #7A77FF;
    border-radius: 1.25vw;
}

.img2 {
    width: 11vw;
    height: 7.4vw;
    opacity: 0.3;
    margin-left: 6.79vw;
    margin-top: 8vw;
    position: absolute;
    border-radius: 1.25vw;
}

#box3 {
    width: 17.86vw;
    height: 15.4vw;
    float: left;
    margin-top: 22.55vw;
    margin-left: 1vw;
    
    background: #256096;
    border-radius: 1.25vw;
}

.img3 {
    width: 11vw;
    height: 7.4vw;
    opacity: 0.3;
    margin-left: 7.2vw;
    margin-top: 8vw;
    position: absolute;
    border-radius: 1.25vw;
}

#box4 {
    width: 17.86vw;
    height: 15.4vw;
    float: left;
    margin-top: 22.55vw;
    margin-left: 1vw;
    margin-right: 7.6vw;
    
    background: #6E8ABD;
    border-radius: 1.25vw;
}

.img4 {
    width: 11vw;
    height: 7.4vw;
    opacity: 0.3;
    margin-left: 6.8vw;
    margin-top: 8vw;
    position: absolute;
    border-radius: 1.25vw;
}

.maintext {
    width: 4.68vw;
    height: 1.35vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    font-size: 1.04vw;
    line-height: 130.02%;
    margin: 42px 229px 0vw 3vw;
    
    color: #FFFFFF;
    z-index: 1;
    
}

.subtext1 {
    width: 10.41vw;
    margin: 1.77vw 5.3vw 0vw 2.9vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.04vw;
    color: #fff;
    padding: 0vw;
    z-index: 1;
  }

.subtext2 {
    width: 13vw;
    margin: 0.26vw 5.3vw 0vw 2.9vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.04vw;
    color: #fff;
    padding: 0vw;
    z-index: 1;
  }

#dot1 {
    position: absolute;
    width: 0.88vw;
    height: 0.88vw;
    left: 42.08vw;
    top: 45.3vw;
    color: #346BFF;
}

#dot2 {
    position: absolute;
    width: 0.88vw;
    height: 0.88vw;
    left: 44.84vw;
    top: 45.3vw;
    
    color: rgba(196, 196, 196, 0.42);
}

#dot3 {
    position: absolute;
    width: 0.88vw;
    height: 0.88vw;
    left: 47.55vw;
    top: 45.3vw;
    
    color: rgba(196, 196, 196, 0.42);
}